<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Project3.Project3Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Project3.Project3Settings1>
            <setting name="Project3Setting1" serializeAs="String">
                <value>This is project 3 setting1</value>
            </setting>
            <setting name="Project3Setting2" serializeAs="String">
                <value>This is project 3 setting 2</value>
            </setting>
        </Project3.Project3Settings1>
    </userSettings>
</configuration>