<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Project2.Project2Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Project3.Project3Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Project2.Project2Settings1>
      <setting name="Project2Setting1" serializeAs="String">
        <value>Wow this is a nice setting. Oh Yeah!</value>
      </setting>
      <setting name="Project2Setting2" serializeAs="String">
        <value>Good one!</value>
      </setting>
    </Project2.Project2Settings1>
    <Project3.Project3Settings1>
      <setting name="Project3Setting1" serializeAs="String">
        <value>This is project 3 setting1, dude</value>
      </setting>
      <setting name="Project3Setting2" serializeAs="String">
        <value>This is project 3 setting 2</value>
      </setting>
    </Project3.Project3Settings1>
  </userSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>